@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
body, html {
  background-color: black;
  padding : 0;
  margin : 0;
  overflow: hidden;
  color : white;

  font-family: "Open Sans", sans-serif;
  font-weight: 800;

}

#container {
  margin: 0;
  padding: 0;

  position: relative;
}

.slide-image {
  display: none;
}

#counter {
  width : 100px;
  height : 100px;
  border-radius: 100px;
  line-height: 100px;
  font-size: 3em;

  text-align: center;
  background-color: #ff006c;
  position: absolute;
  z-index: 3;
  left :10px;
  top : 10px;
}

#loading {
  text-align: center;
  width: 100%;
  position: absolute;

  font-size: 2em;
}


.slide {
  background:  no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;

  position: absolute;
  height:  100%;
  width : 100%;
}
